<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page is defined %}
            <title>{pagetitle}</title>
            <meta name="description" content="{pagemetadescription}">
        {% endif %}
        <meta name="author" content="https://youtube.com/c/jdvznet">
        <!-- CSS links -->
        <link rel="stylesheet" href="https://jdvz.net/wp-content/themes/jdvz/assets/css/normalize.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://jdvz.net/wp-content/themes/jdvz/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {{ outputHeadDeclarations() }}
    </head>
    <body>
        <header class="a11y-nav main-header">
            <!-- Skip links -->
            <a href="#main-content" class="skip-link">Skip to content</a>

            <!-- Left side menu toggle -->
            <button id="nav-main-toggle" class="left-nav-toggle" aria-label="Toggle left side site navigation">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
                <span>Menu</span>
            </button>

            <!-- Left side nav -->
            <div class="left-nav-wrapper">
                <nav id="left-nav" class="left-nav" aria-label="Left side site navigation">
                    <h2 id="left-nav-heading" class="sr-only">Left side site navigation</h2>
                    <ul aria-labelledby="left-nav-heading" class="list-reset">
                        <li>
                            <a href="https://jdvz.net/category/well-being/">
                                Well-being
                            </a>
                        </li>
                        <li>
                            <a href="https://jdvz.net/category/coding-and-tech/">
                                Coding &amp; Tech
                            </a>
                        </li>
                        <li>
                            <a href="https://jdvz.net/category/arts/">
                                Arts
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Logo -->
            <div class="logo">
                <a href="https://jdvz.net" arial-label="Homepage">
                    <img src="https://jdvz.net/wp-content/uploads/2021/10/logo.png" alt="Logo with JDVz initials in yellow on a black background." title="Homepage">
                </a>
            </div>

            <!-- Right side nav -->
            <div class="right-nav-wrapper">
                <nav id="right-nav" class="right-nav" aria-label="Right side site navigation">
                    <h2 id="right-nav-heading" class="sr-only">Right side site navigation</h2>
                    <ul aria-labelledby="right-nav-heading" class="list-reset">
                        <li>
                            <a href="https://jdvz.net/wp-login.php">
                                <i aria-hidden="true" class="far fa-user-circle" title="My account"></i>
                                <span class="sr-only">My account</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://jdvz.net/contact/">
                                <i aria-hidden="true" class="far fa-envelope" title="Contact page"></i>
                                <span class="sr-only">Contact page</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
        <!-- JS links -->
        <script type="text/javascript" src="https://jdvz.net/wp-content/themes/jdvz/assets/js/main.js"></script>
    </body>
</html>