{% extends ":"~template~":base.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block content %}
    <div class="default-page">
        {{ message|raw }}
        {% if content is defined %}
        <main id="main-content">
            {{ content|raw }}
        </main>
        {% endif %}
    </div>
{% endblock %}