{% extends ":"~template~":base.html.twig" %}

{% block content %}
    <div class="default-page">
        <main id="main-content">
            <h2>
                {{ message|raw }}
            </h2>
            {% if content is defined %}
                {{ content|raw }}
            {% endif %}
        </main>
    </div>
{% endblock %}