{% extends ":"~template~":base.html.twig" %}

{% block content %}
    <div class="default-page" data-section-wrapper="1">
        <main id="main-content" data-section="1">
            <div data-slot-container="1">
                <div data-slot="text">
                    <p>Text slot</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
